# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.filters
*.log
*.obj
*.pch
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.ipch
*.htm
*.exe
*.ilk
StreamAudioServer.ra
*.Cache
*.user

StreamWithRec/StreamWithRec/Debug/
ASRMicrosoftCpp/ASRMicrosoftCpp/Debug/
StreamAudioServer/StreamAudioServer/Debug/
Sandbox/MySpeech/Debug/
Sandbox/WindowsSTT/WindowsSTT/bin/
Sandbox/WindowsSTT/WindowsSTT/obj/
EclipseWorkspace/.metadata/
EclipseWorkspace/InMindAgent/bin/
EclipseWorkspace/InMindAgent/gen/
EclipseWorkspace/InMindAgentLib/bin/
EclipseWorkspace/InMindAgentLib/gen/
EclipseWorkspace/StreamAudioClient/bin/
EclipseWorkspace/StreamAudioServer/bin/
EclipseWorkspace/VoiceRec/bin
EclipseWorkspace/VoiceRec/gen
EclipseWorkspace/TCPClient
EclipseWorkspace/JAVATCPServer
EclipseWorkspace/TempSandbox
UserData/
InMindServer/out
NewsAndMW/
TempSandbox/
TempSandbox2/




*.opensdf
*.prefs
googleASR.txt
*.suo
*.class
GCalendar/.idea/
EmailClient/.idea/
InMindAgent/app/build/
InMindAgent/.idea/
InMindAgent/.gradle/
