<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yahoo.inmind.middleware" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <permission
        android:name="com.aware.READ_CONTEXT_DATA"
        android:description="@string/read_permission"
        android:icon="@drawable/ic_launcher_settings"
        android:label="Read AWARE&apos;s Context data"
        android:protectionLevel="normal" >
    </permission>
    <permission
        android:name="com.aware.WRITE_CONTEXT_DATA"
        android:description="@string/write_permission"
        android:icon="@drawable/ic_launcher_settings"
        android:label="Write to AWARE&apos;s Context data"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="com.aware.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:supportsRtl="true" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- NEWS ACTIVITIES -->
        <activity
            android:name="com.yahoo.inmind.services.news.view.reader.ReaderMainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/news_name" >
        </activity>
        <activity
            android:name="com.yahoo.inmind.services.news.view.browser.BaseBrowser"
            android:configChanges="orientation|screenSize"
            android:label="@string/news_base_browser_title" >
        </activity>
        <activity
            android:name="com.yahoo.inmind.services.news.view.browser.LoginBrowser"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.yahoo.inmind.services.news.view.reader.SettingsActivity"
            android:configChanges="orientation|screenSize" >
        </activity>

        <receiver android:name="com.yahoo.inmind.services.news.control.reader.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yahoo.inmind.effectors.generic.control.EffectorDataReceiver" >
            <intent-filter>
                <action android:name="com.yahoo.inmind.commons.control.Constants.ACTION_EFFECTOR" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yahoo.inmind.sensors.generic.control.SensorDataReceiver" >
            <intent-filter>
                <action android:name="com.yahoo.inmind.commons.control.Constants.ACTION_SENSOR" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yahoo.inmind.services.generic.control.ServiceDataReceiver" >
            <intent-filter>
                <action android:name="com.yahoo.inmind.commons.control.Constants.ACTION_SERVICE" />
            </intent-filter>
        </receiver>

        <!-- AWARE  ACTIVITIES -->
        <activity
            android:name="com.yahoo.inmind.services.location.view.LocationSettings"
            android:exported="true"
            android:theme="@style/Theme.Aware" />
        <activity
            android:name="com.yahoo.inmind.services.activity.view.ActivityRecognitionSettings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- SERVICES -->

        <service
            android:name="com.yahoo.inmind.services.news.control.NewsService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="com.yahoo.inmind.services.weather.control.WeatherService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.yahoo.inmind.services.calendar.control.CalendarService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.yahoo.inmind.services.booking.control.HotelReservationService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.yahoo.inmind.services.generic.control.AwareServiceWrapper"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Aware Services -->


        <!-- LocationService -->
        <service
            android:name="com.yahoo.inmind.services.location.control.Plugin"
            android:exported="true"
            android:label="@string/location_name" />
        <service
            android:name="com.yahoo.inmind.services.location.control.LocationService"
            android:exported="true"
            android:label="@string/location_name" />

        <!-- ActivityRecognitionService -->
        <service
            android:name="com.yahoo.inmind.services.activity.control.ActivityRecognitionService"
            android:exported="true"
            android:label="@string/app_name" />
        <service
            android:name="com.yahoo.inmind.services.activity.control.Plugin"
            android:exported="true"
            android:label="@string/app_name" />
        <service
            android:name="com.yahoo.inmind.services.streaming.control.StreamingService"
            android:exported="false" >
        </service>


        <!-- <service android:name="com.aware.utils.WearClient" android:exported="true" android:enabled="@bool/display_aware"/> -->
        <!-- <service android:name="com.aware.utils.WearProxy" android:exported="true" android:enabled="@bool/display_aware"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <service
            android:name="com.aware.Keyboard"
            android:exported="true" />
        <service
            android:name="com.aware.Aware"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Applications"
            android:enabled="@bool/display_aware"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/aware_accessibility_config" />
        </service>
        <service
            android:name="com.aware.Applications$BackgroundService"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Locations"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Bluetooth"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Screen"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Battery"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Network"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Communication"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Processor"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.TimeZone"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Mqtt"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Traffic"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Accelerometer"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Gyroscope"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Bluetooth$BackgroundService"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.WiFi"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.WiFi$BackgroundService"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Telephony"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Rotation"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Light"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Proximity"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Magnetometer"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Barometer"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Gravity"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.LinearAccelerometer"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Temperature"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.ESM"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.ESM$BackgroundService"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.Installations"
            android:exported="true" >
        </service>
        <service
            android:name="com.aware.utils.WebserviceHelper"
            android:exported="true" >
            <intent-filter>
                <action android:name="ACTION_AWARE_WEBSERVICE_SYNC_TABLE" />
                <action android:name="ACTION_AWARE_WEBSERVICE_CLEAR_TABLE" />
            </intent-filter>
        </service>
        <service
            android:name="com.aware.Aware_Preferences$StudyConfig"
            android:exported="true" />
        <service
            android:name="com.aware.Aware$UpdateFrameworkService"
            android:enabled="@bool/display_aware"
            android:exported="true" />
        <service
            android:name="com.aware.utils.DownloadPluginService"
            android:exported="true" />
        <service
            android:name="com.aware.Aware$UpdatePlugins"
            android:enabled="@bool/display_aware"
            android:exported="true" />

        <!-- Receivers -->

        <receiver
            android:name="com.aware.utils.WearClient$AndroidWearHTTPClient"
            android:enabled="@bool/display_aware"
            android:exported="true" >
            <intent-filter>
                <action android:name="ACTION_AWARE_ANDROID_WEAR_HTTP_GET" />
                <action android:name="ACTION_AWARE_ANDROID_WEAR_HTTP_POST" />
                <action android:name="ACTION_AWARE_ANDROID_WEAR_INSTALL_PLUGIN" />
                <action android:name="ACTION_AWARE_ANDROID_WEAR_JOIN_STUDY" />
                <action android:name="ACTION_AWARE_ANDROID_WEAR_QUIT_STUDY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.aware.Aware$Aware_Broadcaster"
            android:exported="true" >
            <intent-filter>
                <action android:name="ACTION_AWARE_SYNC_DATA" />
                <action android:name="ACTION_AWARE_CLEAR_DATA" />
                <action android:name="ACTION_AWARE_CONFIGURATION" />
                <action android:name="ACTION_AWARE_REFRESH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.aware.Aware$PluginMonitor"
            android:enabled="@bool/display_aware"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.aware.Aware$Storage_Broadcaster"
            android:enabled="@bool/display_aware"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <!-- Aware Providers -->
        <provider
            android:name="com.aware.providers.Bluetooth_Provider"
            android:authorities="com.inMind.inMindAgent.provider.bluetooth"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Applications_Provider"
            android:authorities="com.inMind.inMindAgent.provider.applications"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Locations_Provider"
            android:authorities="com.inMind.inMindAgent.provider.locations"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Installations_Provider"
            android:authorities="com.inMind.inMindAgent.provider.installations"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.ESM_Provider"
            android:authorities="com.inMind.inMindAgent.provider.esm"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Temperature_Provider"
            android:authorities="com.inMind.inMindAgent.provider.temperature"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Linear_Accelerometer_Provider"
            android:authorities="com.inMind.inMindAgent.provider.accelerometer.linear"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Gravity_Provider"
            android:authorities="com.inMind.inMindAgent.provider.gravity"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Barometer_Provider"
            android:authorities="com.inMind.inMindAgent.provider.barometer"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Magnetometer_Provider"
            android:authorities="com.inMind.inMindAgent.provider.magnetometer"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Proximity_Provider"
            android:authorities="com.inMind.inMindAgent.provider.proximity"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Light_Provider"
            android:authorities="com.inMind.inMindAgent.provider.light"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Telephony_Provider"
            android:authorities="com.inMind.inMindAgent.provider.telephony"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Aware_Provider"
            android:authorities="com.inMind.inMindAgent.provider.aware"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Scheduler_Provider"
            android:authorities="com.inMind.inMindAgent.provider.scheduler"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Rotation_Provider"
            android:authorities="com.inMind.inMindAgent.provider.rotation"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.WiFi_Provider"
            android:authorities="com.inMind.inMindAgent.provider.wifi"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Accelerometer_Provider"
            android:authorities="com.inMind.inMindAgent.provider.accelerometer"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Gyroscope_Provider"
            android:authorities="com.inMind.inMindAgent.provider.gyroscope"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Traffic_Provider"
            android:authorities="com.inMind.inMindAgent.provider.traffic"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Mqtt_Provider"
            android:authorities="com.inMind.inMindAgent.provider.mqtt"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Processor_Provider"
            android:authorities="com.inMind.inMindAgent.provider.processor"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.TimeZone_Provider"
            android:authorities="com.inMind.inMindAgent.provider.timezone"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Battery_Provider"
            android:authorities="com.inMind.inMindAgent.provider.battery"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Screen_Provider"
            android:authorities="com.inMind.inMindAgent.provider.screen"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Network_Provider"
            android:authorities="com.inMind.inMindAgent.provider.network"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Communication_Provider"
            android:authorities="com.inMind.inMindAgent.provider.communication"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.aware.providers.Keyboard_Provider"
            android:authorities="com.inMind.inMindAgent.provider.keyboard"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" >
        </provider>
        <provider
            android:name="com.yahoo.inmind.services.activity.control.Provider"
            android:authorities="com.inMind.inMindAgent.provider.activity"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
    </application>

</manifest>
